body{
    background-image: url(../Images/plano\ de\ fundo\ aut.jpeg);
    background-repeat: no-repeat;
    background-size:auto;
    background-position: center center;
    text-align: center;
    padding-right: 500px;
    padding-left: 500px;
    font-family: 'Share Tech Mono', monospace;
    font-weight: 10px;
    font-size: 18px;
    color: black;
}
#img1{
    width: 400px;
    height: 400px;
    border: 2px solid black;
}
.AreaBorder{
    border-radius: 10px;
    border: 2px solid black;
    font-size: 18px;
    text-align: center;
    
}
p{
    text-align: left;
}
#img2{
    border: 2px solid black;
    width: 400px;
    height: 400px;
}
#btn-github{
    color: white;
    text-decoration: inherit;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(40, 5, 54);
    padding: 2px 2px;
    cursor: pointer;
    transition: 1s;
}
#btn-github:hover{
    background: rgb(40, 5, 54);
    color: black;
    transition: 1s; 

}
footer{
    margin-top: 100px;
}
#btn-linkedin{
    color: white;
    text-decoration: inherit;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    background-color: rgb(40, 5, 54);
    padding: 2px 2px;
    cursor: pointer;
    transition: 1s;
}
#btn-linkedin:hover{
    background: rgb(40, 5, 54);
    color: black;
    transition: 1s; 

}
